{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="{% static '/css/style-index.css' %}" />
      <title>Home Page</title>
   </head>
   <body>
      <div class="header-container">
         <div class="header-left-part">
            <h1>Project</h1>
            <h1>Clt</h1>
         </div>
         <div class="header-right-part">
            <div class="dropdown">
               <button class="dropbtn"><a>MENU</a></button>
               <div class="dropdown-content">
                  <a href="{% url 'index' %}">Home</a>
                  <a href="{% url 'catalog' %}">Catalog</a>
                  <a href="{% url 'contact' %}">Contacts</a>
                  <a href="{% url 'about' %}">About</a>
                  {% if user.is_anonymous %}
                  <a href="{% url 'login' %}">Login</a>
                  <a href="{% url 'register' %}">Register</a>
                  {% else %}
                  <a href="{% url 'profile' %}">Profile</a>
                  <a href="{% url 'cart' %}">Cart</a>
                  <a href="{% url 'logout' %}">Logout</a>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
      </div>
      </div>
      <div class="main-container">
         <div class="main-container-left">
            <div class="main-container-left-up">
               <h1>str</h1>
            </div>
            <div class="main-container-right-down">
               <h1>00.1</h1>
            </div>
         </div>
         <div class="main-container-right">
            <div class="cart">
               <div class="cart-logo">
                  <center>
                     <h2 style="margin-bottom: 5em;">Cart</h2>
                  </center>
               </div>
               {% if object.items.all %}
               <div class="cart-items">
                  <div class="cart-item">
                     <span class="cart-item-counter">#</span>
                     <span class="cart-item-name">Name</span>
                     <span class="cart-item-size">Size</span>
                     <span class="cart-item-price">Price</span>
                     <span class="cart-item-count">Count</span>
                  </div>
                  {% for order_item in object.items.all %}
                  <div class="cart-item">
                     <span class="cart-item-counter">{{ forloop.counter }}</span>
                     <span class="cart-item-name"><a href="/product/{{order_item.item.id}}">{{ order_item.item.name }}</a></span>
                     <span class="cart-item-size">{{ order_item.item.size }}</span>
                     <span class="cart-item-price">{{ order_item.item.price }} ₽</span>
                     <span class="cart-item-count">
                        <a href="{% url 'remove_single_item_from_cart' order_item.item.pk %}" class='count-btn'>-</a>
                        <p class="count">{{ order_item.quantity }}</p>
                        <a href="{% url 'add_to_cart' order_item.item.pk %}" class='count-btn'>+</a>
                     </span>
                  </div>
                  <hr>
                  {% endfor %}
                  {% if object.get_total %}
                  <div class="cart-total">
                     <span class="cart-total-label"><b>Total:</b></span>
                     <span class="cart-total-price"><b>{{ object.get_total }} ₽</b></span>
                  </div>
                  <div class="cart-buttons">
                    <a href="{% url 'catalog' %}" class='btn'>Go to catalog</a>
                    <a href="{% url 'checkout' %}" class='btn'>Go to checkout</a>
                 </div>
                  {% endif %}
               </div>
               {% else %}
                      <div class="cart-empty">
                          <h1>Cart is empty</h1>
                          <a href="{% url 'catalog' %}" class='empty btn'>Go to catalog</a>
                      </div>
               {% endif %}
            </div>
         </div>
      </div>
   </body>
</html>