{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static '/css/style-index.css' %}" />
    <title>Home Page</title>
  </head>
  <body>
    <div class="header-container">
      <div class="header-left-part">
        <h1>Project</h1>
        <h1>Clt</h1>
      </div>
      <div class="header-right-part">
        <div class="dropdown">
          <button class="dropbtn"><a>MENU</a></button>
          <div class="dropdown-content">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'catalog' %}">Catalog</a>
            <a href="{% url 'contact' %}">Contacts</a>
            <a href="{% url 'about' %}">About</a>
            {% if user.is_anonymous %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
            {% else %}
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'cart' %}">Cart</a>
            <a href="{% url 'logout' %}">Logout</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="main-container">
      <div class="main-container-left">
        <div class="main-container-left-up">
          <h1>str</h1>
        </div>
        <div class="main-container-right-down">
          <h1>00.1</h1>
        </div>
      </div>
      <div class="main-container-right">
        <div class="user-info login-form">
          <h1>User info</h1>
          <form>
            <label for="username">Username:</label>
            <input
              class="user-info-text"
              type="text"
              name="username"
              value="{{ user.username }}"
              readonly
            />
            <label for="email">Email:</label>
            <input
              class="user-info-text"
              type="text"
              name="email"
              value="{{ user.email }}"
              readonly
            />
            <label for="first_name">First name:</label>
            <input
              class="user-info-text"
              type="text"
              name="first_name"
              value="{{ user.first_name }}"
              readonly
            />
            <label for="last_name">Last name:</label>
            <input
              class="user-info-text"
              type="text"
              name="last_name"
              value="{{ user.last_name }}"
              readonly
            />
            <label for="last_login">Last login:</label>
            <input
              class="user-info-text"
              type="text"
              name="last_login"
              value="{{ user.last_login }}"
              readonly
            />
            <a href="{% url 'edit_profile_page' %}">Edit profile</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
