@font-face {
    font-family: "Bruno-regular"; 
    src: url("../fonts/Bruno-regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}


body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background: rgb(213,213,213);
    background: linear-gradient(90deg, rgb(35, 35, 35) 23%, rgb(213,213,213) 23%);

}


h1, h2, h3, h4, h5, a, p {
    font-size: 2em;
    font-family: Bruno-regular;
}



/* header */
.header-container{
    display: flex;
}


.header-left-part{
    width: 150px;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    gap: 20px;
    color: rgb(213,213,213);
}


.header-right-part{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 30px;
    align-items: center;
    gap: 50px;
    list-style-type: none
}


.header-right-part a{
    text-decoration: none;
}


/* dropdown */

.dropbtn {
    color: black;
    padding: 8px;
    font-size: 0.7em;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 50px;
}
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    background-color: #a7a7a7a3;

    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1em;
}
  
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* main-container */
.main-container{
    display: flex;
    flex-direction: row;
    margin: 20px;
}


.main-container-left-up{
    margin-left: 30px;
    margin-top: 50px;
    font-size: 3em;
    color: rgb(213,213,213);
}


.main-container-right-down{
    /* margin-left: 30px; */
    margin-top: 200px;
    font-size: 3em;
    letter-spacing: 10px;
    transform: rotate(90deg);
    color: rgb(213,213,213);
}


.welcome-cont{
    display: flex;
    flex-direction: column;
}


.main-welocme{
    margin-top: -100px;
    width: 800px;
}


.main-welocme h4{
    font-size: 0.8em;
}


/* main-container-right */
.main-container-right{
    margin-top: 70px;
    margin-left: 200px;
    /* width: 600px; */
}


.main-container-right-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}


.main-container-right-left h4{
    font-size: 0.8em;
}


.main-container-right-left-up{
    width: 400px;
    flex-direction: column;
}


.main-container-right-left-down{
    width: 300px;
    flex-direction: column;
}


/* gray block with person*/
.grey-block{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background-color: rgb(120,120,120);
    box-shadow: 10px 10px 10px rgba(59, 59, 59, 0.425);

} 


.black-block{
    width: 30%;
    height: 300px;
    margin-left: 560px;
    background-color: rgb(35, 35, 35);

}


.black-block h1{
    margin-top: 30px;
    margin-left: 75px;
    color: #f1f1f1;
}


.grey-block-image{
    position: absolute;
    z-index: 5;
}

hr{
    margin: 0px;
    padding: 0px;
    border: 1px solid;
}


.component-1{
    position: fixed;
    z-index: 10;
    transform: rotate(45deg);
    margin-left: 350px;
    margin-top: -10px;
}

.component-2{
    position: fixed;
    z-index: 10;
    transform: rotate(225deg);
    margin-left: 350px;
    margin-top: -10px;

}


.register-form  {
    margin-left: 40%;
}


.register-form form {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.register-form h1 {
    margin-left: auto;
    margin-right: auto;
}


.register-form input {
    border: 1px solid rgb(35, 35, 35);
    height: 30px;
    background-color: #99999929;
    font-family: Bruno-regular;

}


.register-form button {
    width: 300px;
    height: 40px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(45deg,  rgb(75, 75, 75) 10%, rgb(35, 35, 35) 70%);
    color: #f1f1f1;
    font-family: Bruno-regular;

}


.register-form a {
    font-size: 1em;
    color: rgb(35, 35, 35);
    font-family: Bruno-regular;
}



/* login styles */
.login-form a {
    font-size: 1em;
    color: rgb(35, 35, 35);
    font-family: Bruno-regular;
}


.login-form  {
    margin-left: 40%;
}


.login-form form {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.login-form h1 {
    margin-left: auto;
    margin-right: auto;
}


.login-form input {
    border: 1px solid rgb(35, 35, 35);
    height: 30px;
    background-color: #99999929;
    font-family: Bruno-regular;

}


.login-form button {
    width: 300px;
    height: 40px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(45deg,  rgb(75, 75, 75) 10%, rgb(35, 35, 35) 70%);
    color: #f1f1f1;
    font-family: Bruno-regular;

}


.login-form a {
    font-size: 1em;
    color: rgb(35, 35, 35);
    font-family: Bruno-regular;
}




/* Style catalog */




.catalog{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 300px;
    height: 400px;
    background-color: rgb(120,120,120);
    box-shadow: 10px 10px 10px rgba(59, 59, 59, 0.425);
    margin-left: -10px;
    margin-right: 120px;
}

.product-button {
    width: 100%;
    height: 50px;
    background-color: rgb(35, 35, 35);
    color: #f1f1f1;
    font-family: Bruno-regular;
    font-size: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}


/* style profile */



.user-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.edit-profile-form {
    margin-top: -70px;
}

label {
    font-size: 0.9em;
    font-family: Bruno-regular;
}

/* Style product */


/*  */
.product-item {
    width: 250px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
    margin: 10px;
 }


 
 .product-item:hover {
    border-bottom: 2px solid rgb(35, 35, 35);
 }


 .product-item img {
    display: block;
    width: 250px;
    height: 300px;
 }


 .product-list {
    background: #fafafa;
    padding: 15px 0;
 }


 .product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 10px 0;
 }


 .price {
    font-size: 16px;
    color: rgb(35, 35, 35);
    display: block;
    margin-bottom: 12px;
 }


 .size {
    font-size: 16px;
    color: rgb(35, 35, 35);
    display: block;
    margin-bottom: 12px;
 }


 .button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #3e4042b8;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
 }


 .product-item:hover .button {
    background: rgb(35, 35, 35);
 }
 
 
 .product-item a{
    text-decoration: none;
 }



.product-components{
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 490px;
    border-radius: 20px;
    background-color: #44444432;
    border: 1px solid rgba(0, 0, 0, 0.162);
}


.product-img-comp{
    margin: 20px;
    width: 370px;
    height: 450px;
}


.product-img-comp img{
    border-radius: 20px;
}


.product-name-comp{
    margin-left: 40px;
    margin-right: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
}


.product-components h1{
    font-size: 1em;
}


.product-components h2{
    font-size: 0.8em;
    color: #444444a5;
}


.product-name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.product-name-price h1{
    font-size: 2em;
}


.product-name-price h2{
    font-size: 1em;
    color: rgb(35, 35, 35)
}



.product-size-category{
    display: flex;
    justify-content: space-between;
}


.main-btn-cont{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.product-components-btn{
    margin-top: 20px;
    width: 240px;
    height: 40px;
    align-items: center;
    background: linear-gradient(45deg,  rgb(75, 75, 75) 10%, rgb(35, 35, 35) 70%);
    color: #f1f1f1;
    font-family: Bruno-regular;
}

.product-components-btn a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 1.2em;
    display: flex;
    margin-top: 8px;
    justify-content: center;
}


/* catalog-categories */


.catalog-categories{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-bottom: 40px;
}

.catalog-categories .active {
    color: rgb(35, 35, 35);
}

.catalog-categories a{
    font-size: 1.2em;
    color: #44444484;
    text-decoration: none;
}


.main-container-right hr{
    border: 1px solid rgba(35, 35, 35, 0.227);
    margin-top: 0px;
}


/* cart style */

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: auto;
    border-radius: 20px;
    background-color: #44444432;
    border: 1px solid rgba(0, 0, 0, 0.162);
    font-family: Bruno-regular;
}

.cart .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 5px;
    font-size: 1.8em;
    width: auto;
    height: auto;
    background: linear-gradient(45deg,  rgb(75, 75, 75) 10%, rgb(35, 35, 35) 70%);
    color: #f1f1f1;
    font-family: Bruno-regular;
}

.cart .count-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    
    padding: 5px;
    font-size: 1.8em;
    width: 25px;
    height: 25px;
    background: linear-gradient(45deg,  rgb(75, 75, 75) 10%, rgb(35, 35, 35) 70%);
    color: #f1f1f1;
    font-family: Bruno-regular;
}

.cart a {
    text-decoration: none;
    color:rgb(35, 35, 35);
    font-size: 1.2em;
}

.cart-items {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.cart-total {
    display: flex;
    flex-direction: row;
    width: 111%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cart-item-count {
    display: flex;
    flex-direction: row;
    width: 10px;
    gap : 5px;
    align-items: center;
}

.cart-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    gap: 100px;
}

.cart-empty{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    gap:100px;
    margin-top: -100px;
    font-size: 1em;
    color: rgb(35, 35, 35);
    font-family: Bruno-regular;
    margin-bottom: 100px;
}

.empty {
    width: 100px;
    height: 50px;
}

.cart-total-price {
    color: rgb(35, 35, 35);
    font-family: Bruno-regular;
}

.cart hr {
    border: 1px solid rgba(35, 35, 35, 0.227);
    margin-top: -45px;
    width: 113%;
}


.page-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.page-404 h1 {
    font-size: 3.675em;
    color: rgb(35, 35, 35);
    font-family: Bruno-regular;
}

.main-404-2 h3 {
    font-size: 1.5em;
    color: rgb(35, 35, 35);
    font-family: Bruno-regular;
}

/* style checkout */

.checkout-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkout-total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.checkout-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.checkout-button button {
    text-decoration: none;
    margin-top: 20px;
    padding: 5px;
    font-size: 1.8em;
    width: auto;
    height: auto;
    background: linear-gradient(45deg,  rgb(75, 75, 75) 10%, rgb(35, 35, 35) 70%);
    color: #f1f1f1;
    font-family: Bruno-regular;
}

.user-orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: -250px;

}